<div class="filter-container">
    <span>Filter: </span>

    <!-- <input type="radio" name="filter" value="All" 
    [(ngModel)]="selectedRadioButtonValue" 
    (change)="onRadioButtonSelectionChanged()"/>
    <span>{{'All'}}</span> -->

    <input type="radio" name="filter" value="Courses" 
    [(ngModel)]="selectedRadioButtonValue" 
    (change)="onRadioButtonSelectionChanged()"/>
    <span>{{'Courses'}}</span>

    <input type="radio" name="filter" value="Movies" 
    [(ngModel)]="selectedRadioButtonValue" 
    (change)="onRadioButtonSelectionChanged()"/>
    <span>{{'Movies'}}</span>

</div>
